@import "normalize-scss/sass/normalize";

@include normalize();

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "theme";
@import "_includes/fonts";
@import "_includes/header";
@import "_includes/footer";
@import "_includes/buttons";
@import "_includes/form";

html {
  height: 100%;
}

body {
  min-height: 100%;

  font-family: $font-family;
  color: $default-font-color;
  padding-bottom: 60px;
}

article {
  min-height: 400px;
}

a {
  color: inherit;
  text-decoration: none;
  word-break: break-all;

  &:hover, &:visited {
    color: inherit;
  }

  &:hover {
    border-bottom: 1px solid currentColor;
  }
}

.container {
  margin: 0 auto;
  padding: 0 48px;

  max-width: 750px;

  @media (max-device-width: 500px), (max-width: 520px) {
    padding: 0 32px;
  }
}

p, li {
  line-height: 1.6;
}

article img {
  max-height: 350px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 4px;
  margin: 36px 0;
}
